:root {
  --color-gray: #828282;
  --color-gray-2: #4f4f4f;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem = 10px

  // @media only screen and (max-width: 600px) {
  //   font-size: 50%;
  // }
}

body {
  box-sizing: border-box;
  padding: 0rem;
  font-family: Noto Sans Display;
  font-size: 1.6rem;
  font-weight: 400;
  color: $color-text;
  scrollbar-color: transparent transparent;
  background-color: $color-black300;

  *::-webkit-scrollbar {
    background-color: transparent; /* color of the tracking area */
  }
}

h1 {
  font-size: 3.6rem;
  font-weight: 400;
  color: $color-text;
}
h2 {
  font-size: 1.8rem;
  font-weight: 300;
  color: $color-text-black200;
}

input,
textarea {
  font-family: inherit;
  background-color: $color-black300;
  color: $color-text !important;
  &::placeholder {
    color: $color-text-black200;
  }
  &:-webkit-autofill {
    &,
    &:hover,
    &:focus,
    &:active {
      -webkit-box-shadow: 0 0 0 1000px $color-black300 inset !important;
      transition: background-color 600000s 0s, color 600000s 0s;
    }
  }
}

textarea {
  font-family: inherit;
  font-size: inherit;
  background-color: inherit;
  padding-top: 1.6rem;
  padding-left: 1.3rem;
  outline: none;
  resize: none;
}

.page-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.auth {
  height: 100vh;
  display: flex;
  align-items: center;
  @media only screen and (max-width: 550px) {
    align-items: flex-start;
  }
}

.window {
  display: flex;
  flex-direction: column;
  width: 47.4rem;
  padding: 4.3rem 5.9rem;
  margin: auto;
  border: $border;
  border-radius: 24px;
  @media only screen and (max-width: 550px) {
    border: none;
    margin: 0 auto;
    padding: 2.4rem;
  }
  &__logo {
  }
  &__heading {
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 2.4rem;
    margin-bottom: 1.6rem;
  }
  &__text {
    color: $color-text-black200;

    margin-bottom: 3.2rem;
  }
  &__form {
    display: grid;
    gap: 1.6rem;
    &__input {
      & input {
        &:-webkit-autofill {
          &,
          &:hover,
          &:focus,
          &:active {
            -webkit-box-shadow: 0 0 0 1000px $color-black300 inset !important;
          }
        }
      }
    }
  }
  &__message {
    color: $color-text-black200;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 3.2rem;
  }
  &__socials {
    align-self: center;
    display: grid;
    grid-auto-flow: column;
    width: min-content;
    gap: 2rem;
    margin: 2.4rem 0;
    cursor: pointer;
  }
  &__prompt {
    text-align: center;
    font-size: 1.4rem;
    color: $color-text-black200;
  }
}

.input-box {
  display: flex;
  align-items: center;
  border: 1px solid $color-text-black100;
  border-radius: 8px;
  overflow: hidden;

  &__icon {
    color: $color-text-black200;
    margin-left: 1.3rem;
  }
  &__input {
    background-color: inherit;
    margin-left: 1.3rem;
    flex: 1;
    font-size: 1.6rem;
    font-weight: 400;
    border: none;
    outline: none;
    height: 4.8rem;
  }
}

.input-group {
  display: flex;
  flex-direction: column;
  margin: 2.4rem 0;
  &__label {
    color: $color-text-black200;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 4px;
  }
}

.btn {
  min-width: 10rem;
  background: #2f80ed;
  border-radius: 8px;
  color: white;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 600;
  height: 4.6rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    filter: brightness(90%);
  }

  &--extended {
    width: 100%;
  }

  &--darkest {
    background-color: $color-black100;
  }
  &--darker {
    background-color: $color-black200;
  }
  &--dark {
    background-color: $color-black400;
  }
}

.link {
  &,
  &:link,
  &:active,
  &:visited {
    text-decoration: none;
    color: #2d9cdb;
    cursor: pointer;
  }
}

.icon {
  font-size: 20px;
  user-select: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 6.4rem;
  @media only screen and (max-width: 900px) {
    padding: 2.4rem 2.4rem;
  }
  @media only screen and (max-width: 550px) {
    padding: 1.6rem 2.4rem;
  }
  &__logo {
    cursor: pointer;
  }
}

.user {
  &__avatar {
    height: 7.2rem;
    width: 7.2rem;
  }

  &__headings {
    text-align: center;
    margin-top: 2.4rem;
    margin-bottom: 3.2rem;
    @media only screen and (max-width: 550px) {
      & h1 {
        font-size: 2.4rem;
      }
      & h2 {
        font-size: 1.4rem;
      }
    }
  }

  &__heading-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.2rem 4.8rem;
    border-bottom: $border;
    @media only screen and (max-width: 900px) {
      padding: 3.2rem 2.4rem;
      border: none;
    }

    &__action {
      &__btn {
        height: auto;
        padding: 8px 0;
        border-radius: 1.2rem;
        background-color: inherit;
        color: $color-text-black200;
        font-weight: 500;
        border: 1px solid $color-text-black200;
      }
    }
  }
}

.title {
  display: flex;
  flex-direction: column;
  margin-right: 4.8rem;
  &__main {
    color: $color-text;
    font-size: 2.4rem;
    margin-bottom: 4px;
  }
  &__sub {
    font-size: 1.3rem;
    font-weight: 500;
    color: $color-text-black200;
  }
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 6.4rem;
  width: 700px;
  border: $border;
  border-radius: 1.2rem;
  @media only screen and (max-width: 900px) {
    border: none;
    width: 500px;
  }
  @media only screen and (max-width: 550px) {
    width: 100%;
  }
}

.row {
  display: flex;
  align-items: center;
  padding: 1.6rem 0;
  @media only screen and (max-width: 900px) {
    padding: 1.6rem 2.4rem;
  }
  &:not(:last-child) {
    border-bottom: $border;
  }
  &__label-box {
    flex: 1;
    &__label {
      margin-left: 4.8rem;
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: 500;
      color: $color-text-black200;
      @media only screen and (max-width: 900px) {
        margin-left: 0;
      }
    }
  }
  &__value {
    flex: 2;
    font-size: 1.8rem;
    font-weight: 500;
    @media only screen and (max-width: 900px) {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.avatar {
  max-width: 200px;
  max-height: 200px;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  background-color: lightgray;
}

.edit-user {
  margin: auto;
  @media only screen and (max-width: 550px) {
    margin: 0 2.4rem;
  }
  &__form {
    padding: 3.2rem 4.8rem;
    max-width: 60%;
    @media only screen and (max-width: 900px) {
      width: 100%;
      max-width: unset;
    }
    @media only screen and (max-width: 550px) {
      padding: 0;
    }
    & .input-box {
      border: 1px solid #828282;
    }
    & input,
    & textarea {
      &::placeholder {
        color: $color-text-black200;
      }
    }
    &__upload {
      margin: 2.4rem 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      & input[type='file'] {
        display: none;
      }
      &__label {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &__image {
          height: 7.2rem;
          width: 7.2rem;
          filter: brightness(55%);
        }
        &__icon {
          position: absolute;
          color: white;
        }
      }
      &__text {
        text-transform: uppercase;
        cursor: pointer;
        margin-left: 2.4rem;
        font-size: 1.3rem;
        font-weight: 500;
        color: $color-text-black200;
      }
    }
  }
  &__back {
    &,
    &:link,
    &:visited {
      display: flex;
      align-items: center;
      margin-bottom: 2.4rem;
      font-size: 1.8rem;
      text-decoration: none;
      @media only screen and (max-width: 550px) {
        margin-top: 2.4rem;
      }
    }

    &__icon {
      color: #2d9cdb;
    }
    &__text {
      color: #2d9cdb;
      cursor: pointer;
    }
  }
}

.dropdown {
  z-index: 10;
  position: absolute;
  right: 0;
  top: calc(100% + 1.6rem);
  min-width: 19rem;
  background-color: $color-black400;
  border: $border;
  box-shadow: 0px 2px 4px 0px #0000000d;
  border-radius: 1.2rem;
  color: inherit;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0 1.2rem;

  &--up {
    top: unset;
    right: 1.6rem;
    bottom: 100%;
  }

  &__divide {
    border: $border;
  }

  &__item {
    padding: 1.2rem 1.3rem;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
    border-radius: 0.8rem;
    transition: all 0.1s;
    &:hover {
      background-color: $color-item-hover;
    }
    &--main {
      color: #eb5757;
    }
    &__text {
      margin-left: 1.2rem;
    }
  }
}
