$color-black100: #120f13;
$color-black200: #120f13;
$color-black300: #252329;
$color-black400: #3c393f;
$color-text-black200: #bdbdbd;
$color-text-black100: #828282;
$color-text: white;
$color-chat: #252329;
$color-chat-hover: #201f24;
$color-item-hover: #4a474d;
$color-border: #3c393f;
$border: 1px solid $color-border;
