.channel-item {
  display: flex;
  align-items: center;
  margin: 2.4rem 0;
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;

  &__logo {
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: $color-chat;
    &__abbrev {
    }
  }
  &__name {
    margin-left: 1.6rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
